<!-- wp:template-part {"slug":"root-header","area":"uncategorized"} /-->

<!-- wp:wp2s/main -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:wp2s/single {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":{"blockstudio":{"attributes":{"blockstudio":{"attributes":{"layout":{"value":"1","label":"One"}}}}}}},"layout":{"value":"1","label":"One"}}}} -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:wp2s/single-header {"blockstudio":{"attributes":{"0":"p","align":"full","blockstudio":{"attributes":{"align":"full"}},"layout":{"value":"1","label":"One"}}}} /-->

<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:wp2s/single-content {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":[]},"layout":{"value":"1","label":"One"}}}} -->
<!-- wp:group -->
<div class="wp-block-group"><!-- wp:wp2s/article {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":[]},"layout":{"value":"1","label":"One"}}}} -->
<!-- wp:group -->
<div class="wp-block-group"><!-- wp:wp2s/article-header {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":[]},"layout":{"value":"1","label":"One"}}}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"0.54rem"}}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"heading-3"} /-->

<!-- wp:post-excerpt /-->

<!-- wp:post-date /-->

<!-- wp:post-featured-image /--></div>
<!-- /wp:group -->
<!-- /wp:wp2s/article-header -->

<!-- wp:wp2s/article-content {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":[]},"layout":{"value":"1","label":"One"}}}} -->
<!-- wp:group -->
<div class="wp-block-group"><!-- wp:post-content {"layout":{"type":"constrained","justifyContent":"left","contentSize":"600px","wideSize":"1100px"}} /--></div>
<!-- /wp:group -->
<!-- /wp:wp2s/article-content -->

<!-- wp:wp2s/article-footer {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":[]},"layout":{"value":"1","label":"One"}}}} -->
<!-- wp:group -->
<div class="wp-block-group"><!-- wp:post-author /--></div>
<!-- /wp:group -->
<!-- /wp:wp2s/article-footer --></div>
<!-- /wp:group -->
<!-- /wp:wp2s/article --></div>
<!-- /wp:group -->
<!-- /wp:wp2s/single-content --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"360px"} -->
<div class="wp-block-column" style="flex-basis:360px"><!-- wp:wp2s/single-aside {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":[]},"layout":{"value":"1","label":"One"}}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:wp2s/single-footer {"blockstudio":{"attributes":{"0":"p","align":"full","blockstudio":{"attributes":{"align":"full"}},"layout":{"value":"1","label":"One"}}}} /--></div>
<!-- /wp:group -->
<!-- /wp:wp2s/single --></div>
<!-- /wp:group -->
<!-- /wp:wp2s/main -->

<!-- wp:template-part {"slug":"root-subscribe","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"root-footer","area":"uncategorized"} /-->