<!-- wp:template-part {"slug":"root-header","area":"uncategorized"} /-->

<!-- wp:wp2s/form-page {"blockstudio":{"attributes":{"layout":{"value":"1","label":"One"}}}} -->
<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:wp2s/form-page-header {"blockstudio":{"attributes":{"0":"p","align":"full","blockstudio":{"attributes":{"align":"full"}}}}} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"backgroundColor":"bg","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-bg-background-color has-background" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:wp2s/form-page-content {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":[]}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:wp2s/form {"blockstudio":{"attributes":{"0":"p","blockstudio":{"attributes":[]}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:wp2s/form-page-footer {"blockstudio":{"attributes":{"0":"p","align":"full","blockstudio":{"attributes":{"align":"full"}}}}} /--></div>
<!-- /wp:group -->
<!-- /wp:wp2s/form-page -->

<!-- wp:template-part {"slug":"root-subscribe","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"root-footer","area":"uncategorized"} /-->