<!-- wp:template-part {"slug":"root-header","area":"uncategorized"} /-->

<!-- wp:group {"lock":{"move":true,"remove":true},"className":"mt-0 mb-auto","layout":{"type":"constrained"}} -->
<div class="wp-block-group mt-0 mb-auto"><!-- wp:group {"lock":{"move":true,"remove":true},"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"root-subscribe","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"root-footer","area":"uncategorized"} /-->