<!-- wp:template-part {"slug":"root-header","area":"uncategorized"} /-->

<!-- wp:group {"lock":{"move":true,"remove":true},"className":"mt-auto mb-auto","layout":{"type":"constrained"}} -->
<div class="wp-block-group mt-auto mb-auto"><!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"align":"full"} -->
<main class="wp-block-group alignfull"><!-- wp:post-content {"layout":{"inherit":true}} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"root-subscribe","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"root-footer","area":"uncategorized"} /-->